<div id="preloader"></div>
<div id="conteiner" class="container-fluid">
  <div id="row-content" class="row">
    <div id="col-content" class="col-lg-6 offset-lg-3 Enterbutton text-center">
      <div id="buttonEnter">
        <div id="socialWrapper" class="social-wrapper">
          <img id="vkButton" class="responsiveimage" src="{{vk_icon}}" alt="{{vk_alt}}">
          <img id="googleButton" class="responsiveimage" src="{{google_icon}}" alt="{{google_alt}}">
          <img id="YandexButton" class="responsiveimage" src="{{yandex_icon}}" alt="{{yandex_alt}}">
        </div>
        <img id="imgButton" class="img-fluid" src="{{fon_image}}" alt="{{fon_alt}}">
      </div>
    </div>
  </div>
</div>