<div id="preloader"></div>
<section id="content" class="container-fluid vh20">
  <div id="header" class="header"></div>

  <div class="row h100 align-items-center">
    <div id="col-content" class="col-12">
      <div id="titleText" data-true-world="{{trueword}}" class="titleText lvl2-title">{{title}}</div>
    </div>
  </div>
</section>

<section id="mainContent" class="container-fluid vh50">
  <div id="rowContent" class="row h100 align-items-center">


    <div id="LeftCol" class="col-3">
      <div id="blockleft" class="mt-block img-block-center">
        <img id="leftImage" src="/{{ImageLeft}}" alt="{{imageleftAlt}}" class="img-fluid img-block-center">
      </div>
    </div>

    <div id="CenterCol" class="col-6">
      <div id="blockquestion" class="mt-block img-block-center">
        <img id="arrowLeft" src="/{{arrowLeft}}" alt="left" class="img-fluid img-block-center">
        <img id="current" src="/{{questionMark}}" alt="{{altQuestion}}" class="img-fluid img-block-center">
        <img id="arrowRight" src="/{{arrowRight}}" alt="right" class="img-fluid img-block-center">
      </div>
    </div>

    <div id="RightCol" class="col-3">
      <div id="blockright" class="mt-block img-block-center">
        <img id="RightImage" src="/{{ImageRight}}" alt="{{imageRightAlt}}" class="img-fluid img-block-center">
      </div>
    </div>
  </div>
</section>

<section id="Progress" class="container-fluid vh30">
  <div class="row h50 align-items-center">
    <div id="progressBlockText" class="col-10 offset-1 h100">
      <div id="progresstext">{{progress}}</div>
    </div>
  </div>
  <div class="row h50 align-items-center">
    <div id="progressBlock" class="col-10 offset-1 h100">
      <div class="h100">

        <div id="QuestionImages" class="row progress-block h75  align-items-center">


          <div class="col-1 h80 offset-2"><img id="image-1" src="/{{questionMark}}"
              class="h80 img-fluid img-block-center" alt="{{altQuestion}}"></div>
          <div class="col-1 h80"><img id="image-2" src="/{{questionMark}}" class="h80 img-fluid img-block-center"
              alt="{{altQuestion}}"></div>
          <div class="col-1 h80"><img id="image-3" src="/{{questionMark}}" class="h80 img-fluid img-block-center"
              alt="{{altQuestion}}"></div>
          <div class="col-1 h80"><img id="image-4" src="/{{questionMark}}" class="h80 img-fluid img-block-center"
              alt="{{altQuestion}}"></div>
          <div class="col-1 h80"><img id="image-5" src="/{{questionMark}}" class="h80 img-fluid img-block-center"
              alt="{{altQuestion}}"></div>
          <div class="col-1 h80"><img id="image-6" src="/{{questionMark}}" class="h80 img-fluid img-block-center"
              alt="{{altQuestion}}"></div>
          <div class="col-1 h80"><img id="image-7" src="/{{questionMark}}" class="h80 img-fluid img-block-center"
              alt="{{altQuestion}}"></div>
          <div class="col-1 h80 "><img id="image-8" src="/{{questionMark}}" class="h80 img-fluid img-block-center"
              alt="{{altQuestion}}"></div>
        </div>

      </div>

    </div>

    <div id="blockNumberProgress">{{progressBar}}</div>

  </div>

</section>