<div id="preloader"></div>
<div id="content" class="container-fluid">
  <div class="header"></div>
  <section id="mainContent" class="container-fluid">
    <div id="rowContent" class="row">
      <div id="ColItem" class="col-8 offset-2">
        <div id="ImgBlock" class="mt-block img-block-center">
          <img id="imageBack" class="img-fluid img-block-center" src="{{Back_img}}" alt="Back">
          <img id="currentImage" data-image="{{data_image}}" class="img-fluid img-block-center" src="{{Current_img}}"
            alt="{{Current_alt}}">
          <img id="imageNext" class="img-fluid img-block-center" src="{{Next_img}}" alt="Next">
          <span id="spanText" class="image-text">
            {{Text}}
          </span>
        </div>
      </div>
    </div>
  </section>
</div>
</div>